* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e0e5ec;
  color: #9baacf;
  font-family: "Maven Pro", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  gap: 1rem;
}

/* .card button {
  background: none;
  border: none;
  cursor: pointer;
}

.card {
  transition-duration: 0.7s;
  transition-timing-function: ease-out;
}

.card:hover {
  transform: rotateY(180deg) scale(1.1);
}

.card button:hover {
  color: red;
}

.cart button::before {
  content: "Buy Now";
  position: absolute;
  background-color: #000;
  border-radius: 5px;
  min-width: 80px;
  padding: 0.3em;
  display: none;
  z-index: 10;
  top: 2.3em;
}
.cart button:hover::before {
  display: block;
} */
