/* index.css */

.home-container {
  text-align: center;
  margin-top: 100px;
}

.home-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

/* index.css */

.signup-container {
  text-align: center;
  margin-top: 100px;
}

.signup-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.signup-form {
  width: 300px;
  margin: 0 auto;
}

.signup-label {
  display: block;
  margin-bottom: 10px;
}

.signup-input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signup-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #0056b3;
}

/* index.css */

.login-container {
  text-align: center;
  margin-top: 100px;
}

.login-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.login-form {
  width: 300px;
  margin: 0 auto;
}

.login-label {
  display: block;
  margin-bottom: 10px;
}

.login-input {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}
